# Ignore all files
*

# Unignore directories to allow specifying files within them
!*/

# Unignore specific Python files
!headless.py
!Jetblue_Domestic.py
!Jetblue_International.py
!jetblue.html
!Jetblue.py
!index.html
